.expanded-view-image {
  object-fit: cover;
  width: 80%;
  margin: 30px auto;
  min-width: 200px;
}

.ExpandedView h1{
  margin: 20px 0px;
}

.ExpandedView {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.ExpandedView span {
  font-weight: bold;
}

.ExpandedView a {
 text-decoration: none;
 color: black;
}

.ExpandedView a:hover {
  font-style: italic;
}

.heart-icon {
  margin: 20px 10px 0px 15px;
  cursor: pointer;
  width: 45px;
  height: 40px;
}

.title-container-expanded {
  display: flex;
  justify-content: space-between;
}

.artwork-details {
  padding: 15px;
}

@media all and (min-width: 600px) {
  .expanded-view-image {
    width: 50%;
    margin: 30px 50px;
  }

  .ExpandedView {
    flex-direction: row;
  }

  .artwork-details {
    padding: 0px;
  }
}